<div class="row">
  <div class="col-md-6">
    <clr-datagrid [(clrDgSingleSelected)]="estSelec">
      <clr-dg-column>Código</clr-dg-column>
      <clr-dg-column>Razão Social</clr-dg-column>

      <clr-dg-row *clrDgItems="let est of coordenadas" [clrDgItem]="est">
        <clr-dg-cell>{{est.coCnes}}</clr-dg-cell>
        <clr-dg-cell>{{est.razaoSocial}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          de {{pagination.totalItems}} estabelecimentos
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
    
  </div>

  <div class="col-md-6">
    <span *ngIf="estSelec">
    <agm-map [latitude]="latBr" [longitude]="lngBr" [zoom]="zoom">
		<agm-marker [latitude]="estSelec.lat" [longitude]="estSelec.lng">
        </agm-marker>
    </agm-map>
    </span>
  </div>
</div>
